<div>
    <div class="row">
        <div class="col-md-12">

            <h2> <span class="glyphicon glyphicon-folder-open"></span>     Online Shop-John Papa </h2>

        </div>
    </div>

    <tbody>

        <div class="move">

            <ul class="list-group">
                <li class="list-group-item"><img ng-src="{{vm.item.slika}}" width="300" height="300"></img>
                </li>
                <li class="list-group-item">sifra: {{vm.item.sifra}}</li>
                <li class="list-group-item">proizvodjac: {{vm.item.proizvodjac}}</li>
                <li class="list-group-item">model: {{vm.item.model}}</li>
                <li class="list-group-item">cena: {{vm.item.cena}} dinara</li>
                <li class="list-group-item">tip: {{vm.item.tip}}</li>
                <li class="list-group-item">garancija: {{vm.item.garancija}} meseci</li>
                <!--<li class="list-group-item">{{item.akcija}} </li> -->

            </ul>

            <div>
                <tbody>

                    <button class="btn btn-primary" ng-click="vm.back()"> Back </button>



            </div>